# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  workflow_dispatch:
  push: 
    branches: [master]
  pull_request: 
    branches: [master]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  ReJSON:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Installing Redis
        run: sudo apt update && sudo apt install make && sudo apt-get install build-essential && sudo apt-get install -y cargo && sudo apt install redis-server 
      - name: Configurating Redis
        run: whoami && ls -l /etc/redis/redis.conf && sudo chown runner /etc/redis/redis.conf && sudo echo "supervised systemd" >> /etc/redis/redis.conf
      - name: Building ReJSON module
        run: sudo git clone https://github.com/RedisJSON/RedisJSON.git && cd RedisJSON && sudo cargo build --release && sudo mkdir /etc/redis/modules/ && sudo mv target/release/librejson.so /etc/redis/modules/
      - name: Restarting Redis Server
        run: sudo echo "loadmodule /etc/redis/modules/librejson.so" >> /etc/redis/redis.conf && sudo /etc/init.d/redis-server stop && sudo /etc/init.d/redis-server start
      - name: Verifying Redis status
        run: sudo systemctl status redis
      - name: Running tests
        run: npm i && npm run rejson-module-tests
  RedisTimeSeries:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    - uses: docker-practice/actions-setup-docker@master
      with:
        docker_channel: nightly
        # this value please see https://github.com/AkihiroSuda/moby-snapshot/releases
        docker_nightly_version: snapshot-20200915
    - name:
      run: docker run -p 6379:6379 --rm redislabs/redistimeseries sh npm i && npm run rejson-module-tests
    #runs-on: ubuntu-latest
    #container: redislabs/redistimeseries
    #steps:
    #  - name: 'Setup'
    #    run: systemctl status redis
    #    

