name: CI
on:
  workflow_dispatch:
  push: 
    branches: [master]
  pull_request: 
    branches: [master]
jobs:
  #Build for 'ReJSON' module
  ReJSON:
    runs-on: ubuntu-latest
    steps:
    - uses: docker-practice/actions-setup-docker@master
      with:
        docker_channel: nightly
        docker_nightly_version: snapshot-20200915
    - uses: actions/checkout@v2
    - name: Setting up Redis
      run: docker run -p 6379:6379 -d --rm redislabs/rejson:latest && docker ps -a
    - name: Running tests
      run: npm i && npm run rejson-module-tests
  #Build for 'Redis Times Series' module
  RTS:
    runs-on: ubuntu-latest
    steps:
    - uses: docker-practice/actions-setup-docker@master
      with:
        docker_channel: nightly
        docker_nightly_version: snapshot-20200915
    - uses: actions/checkout@v2
    - name: Setting up Redis
      run: docker run -p 6379:6379 -d --rm redislabs/redistimeseries && docker ps -a
    - name: Running tests
      run: npm i && npm run rts-module-tests
  #Build for 'Redis Search' module
  Redisearch:
    runs-on: ubuntu-latest
    steps:
    - uses: docker-practice/actions-setup-docker@master
      with:
        docker_channel: nightly
        docker_nightly_version: snapshot-20200915
    - uses: actions/checkout@v2
    - name: Setting up Redis
      run: docker run -p 6379:6379 -d --rm redislabs/redisearch:latest && docker ps -a
    - name: Running tests
      run: npm i && npm run redisearch-module-tests
  #Build for 'Redis Graph module
  RedisGraph:
    runs-on: ubuntu-latest
    steps:
    - uses: docker-practice/actions-setup-docker@master
      with:
        docker_channel: nightly
        docker_nightly_version: snapshot-20200915
    - uses: actions/checkout@v2
    - name: Setting up Redis
      run: docker run -p 6379:6379 -d --rm redislabs/redisgraph:latest && docker ps -a
    - name: Running tests
      run: npm i && npm run redisgraph-module-tests
  #Build for 'RedisGears' module
  RedisGears:
    runs-on: ubuntu-latest
    steps:
    - uses: docker-practice/actions-setup-docker@master
      with:
        docker_channel: nightly
        docker_nightly_version: snapshot-20200915
    - uses: actions/checkout@v2
    - name: Setting up Redis
      run: docker run -p 6379:6379 -d --rm redislabs/redisgears:latest && docker ps -a
    - name: Running tests
      run: npm i && npm run redisgears-module-tests
  #Build for 'Redis Bloom' module
  RedisBloom:
    runs-on: ubuntu-latest
    steps:
    - uses: docker-practice/actions-setup-docker@master
      with:
        docker_channel: nightly
        docker_nightly_version: snapshot-20200915
    - uses: actions/checkout@v2
    - name: Setting up Redis
      run: docker run -p 6379:6379 -d --rm redislabs/rebloom:latest && docker ps -a
    - name: Running tests
      run: npm i && npm run redisbloom-module-tests